body{
    font-family: 'Roboto', sans-serif;
}
.bgi{
    background-image: url(./img/bg.jpg);
    height: 100vw;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.logo{
    color: aliceblue;
    display: flex;
}
.container-header {
    width: 1030px;
    margin: 0 auto;
}
.logo-img{
    width: 53px;
    height: 47px;
    margin-right: 10px;
}
.logo-name-title,
.logo-name-a{
    font-size: 29px;
    text-transform: uppercase;
    font-weight: bold;
}

.logo-name-a{
    font-size: 18px;
}
.header{
    margin-top: 50px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}
.info{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.img{

}
.img-photo{
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
}
.i{
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 25vw;
    justify-content: center;
    padding-left: 154px;


}